body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#toolbar {
    background: #f4f4f4;
    padding: 10px;
    display: flex;
    gap: 10px;
}
#canvas-container {
    border: 1px solid #ccc;
    margin: 10px;
    width: 88vw;
    height: 88vh;
    overflow: hidden;
}
svg {
    width: 100%;
    height: 100%;
}

.tool-button {
    padding: 5px 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.tool-button:hover {
    background-color: #ddd;
}

.tool-button.active {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}

#delete {
    display: none;
}